@model List<CarritoProducto>

<div class="row small mb-3">
    <div class="col text-end">
        Mostrando @Model.Count() elemento(s)
    </div>
</div>

<div class="d-flex p-3 mb-3">

    @if (Model.Count() > 0)
    {
        <div class="w-75 me-4">
            @foreach (var item in Model)
            {
                if (item.Producto != null)
                {
                    <div class="card p-3 mb-3 ">
                        <div class="d-flex flex-row align-items-center">
                            <div class="me-3">
                                <img src='@((item.Producto.ArchivoId == null) ? "https://placehold.co/300x200/FFF/999?text=Artículo" : $"{ViewBag.Url}/api/archivos/{item.Producto.ArchivoId}")'
                                    class="portada img-fluid rounded" data-url="@ViewBag.Url" style="max-width: 150px;">
                            </div>
                            <div class="product-info flex-grow-1">
                                <p class="product-title fw-bold mb-1">@Html.DisplayFor(modelItem => item.Producto.Titulo)</p>
                                <p class="product-price text-muted mb-3">@Html.DisplayFor(modelItem => item.Producto.Precio)</p>
                                <form asp-action="ProductoAgregar" asp-route-id=@item.Producto.ProductoId
                                        asp-route-cantidadDisponible="@item.Producto.CantidadDisponible">
                                    @if (item.Producto.CantidadDisponible > 0)
                                    {
                                        <p class="product-price text-muted mb-1">Cantidad disponible</p>
                                        <p class="product-price mb-3">@Html.DisplayFor(modelItem => item.Producto.CantidadDisponible)</p>

                                        <p class="product-price text-muted mb-1">Cantidad actual</p>
                                        
                                            <div class="product-quantity d-flex align-items-center ">
                                                <button type="button" onclick="disminuir(@item.Producto.ProductoId)"
                                                    class="btn btn-primary btn-sm me-2">-</button>
                                                <input id="cantidad-value" name="cantidad" type="text"
                                                    class="form-control form-control-sm text-center cantidad-@item.Producto.ProductoId" value="@item.Cantidad" readonly
                                                    style="width: 50px;">
                                                <button type="button" onclick="aumentar(@item.Producto.ProductoId)"
                                                    class="btn btn-primary btn-sm ms-2">+</button>
                                            </div>
                                        
                                        @if (TempData["ErrorCantidad"] != null)
                                        {
                                            <div>
                                                <p class="text-danger fw-semibold">@TempData["ErrorCantidad"]</p>
                                            </div>
                                        }

                                    }
                                    else
                                    {
                                        <p class="text-danger fw-semibold">Producto agotado </p>
                                    }

                                    @if (TempData["IdError"] != null && (int?)TempData["IdError"] == item.Producto.ProductoId &&
                                        TempData["ErrorCantidad"] != null)
                                    {
                                        <div>
                                            <p class="text-danger fw-semibold">@TempData["ErrorCantidad"]</p>
                                        </div>
                                    }
                                    <div class="product-actions mt-3 d-flex ">
                                        <a class="btn btn-outline-secondary btn-sm btn-eliminar" asp-action="Eliminar"
                                            asp-route-itemid="@item.Producto.ProductoId">Eliminar</a>
                                        @if (item.Producto.CantidadDisponible > 0)
                                        {
                                            <button class="btn btn-primary btn-sm ms-2 btn-modificar" data-id="@item.Producto.ProductoId"
                                                data-disponible="@item.Producto.CantidadDisponible">Modificar</button>
                                        }

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="card w-35 border rounded p-3 ms-4">
            <div class="d-flex align-items-center flex-column ">
                <h6 class="fw-bold mb-4">Resumen de compra</h6>
                <div class="d-flex w-100">
                    <h6 class="mb-1">Producto</h6>
                    <h6 class="mb-1 ms-auto">Precio</h6>
                </div>
                @foreach (var item in Model)
                {
                    if (item.Producto != null)
                    {
                        <div class="d-flex w-100">
                            <p class="mb-1">
                                @Html.DisplayFor(modelItem => item.Producto.Titulo)
                                <br>
                                <span class="text-muted">(Cantidad: @Html.DisplayFor(modelItem => item.Cantidad))</span>
                            </p>
                            <p class="mb-1 ms-auto">$@Html.DisplayFor(modelItem => item.TotalPrecio)</p>
                        </div>
                    }
                }

                <hr class="w-100 my-3" />
                @if (Model[0] != null)
                {
                    <div class="d-flex justify-content-between w-100 mb-4">
                        <p class="fw-bold">Total</p>
                        <p class="fw-bold">$@Html.DisplayFor(modelItem => Model[0].TotalPrecio)</p>
                    </div>
                    <a class="btn btn-primary w-75 rounded-pill" asp-action="Comprar">Comprar</a>
                }


            </div>
        </div>

    }
    else
    {
        <div class="mt-5">
            <div class="alert alert-warning" role="alert">
                No se han encontrado elementos. Inténtelo de nuevo más tarde.
            </div>
        </div>
    }

</div>

<script>
    function aumentar(idproducto) {
        const id = "cantidad-" + idproducto;
        let listItems = document.getElementsByClassName(id);
        let item = listItems!=null && listItems.length > 0 ? listItems[0] : null;
        if (item) {
            let num = parseInt(item.value);
            if (!isNaN(num)) {
                if (num < 10) {
                    item.style.color = '#8a8a8a'
                    item.value = (num + 1);
                }

            } else {
                item.value = 0;
            }
        }
    }

    function disminuir(idproducto) {
        const id = "cantidad-" + idproducto;
        let listItems = document.getElementsByClassName(id);
        let item = listItems!=null && listItems.length > 0 ? listItems[0] : null;
        if (item) {
            let num = parseInt(item.value);
            if (!isNaN(num)) {
                if (num > 1) {
                    item.style.color = '#8a8a8a'
                    item.value = (num - 1);
                }

            } else {
                item.value = 0;
            }
        }

    }


</script>